.sectionContainer{
    background: rgb(168,168,168);
    background: linear-gradient(120deg, rgba(168,168,168,1) 0%, rgba(226,223,223,1) 100%);
    display: flex;
    justify-content: center;
}

.header{
    // background-color: red;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.pageTitleContainer{
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(48, 48, 48);
    font-size: xxx-large;
    padding: 20px;
}

.container{
    width: 80%;
    padding: 10px;
    // background-color: white;
}

.cardsWrapper{
    display: flex;
    justify-content: space-around;
}