.container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}


.listItem{
    color: white;
    background-color: #373737;
    padding: 25px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    // text-transform: uppercase;
    &:hover{
        background-color: lighten($color: #373737, $amount: 10);
    }
}

.closeButtonContainer{
    font-size: xxx-large;
    color: #c7c7c7;
    
}

.closeButtonIcon{
    cursor: pointer;
    transition: 0.2s all;
    &:hover{
        color: darken($color: #c7c7c7, $amount: 20%)
    }   
}